.ad {
  /* padding: 2rem 0 0; */
  background: var(--color-card);
  display: flex;
  justify-content: center;
}

.ad__link {
  display: block;
}

.ad__image {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 601px) {
  .ad__link {
    width: min(100%, 1240px);
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .ad {
    /* padding: 1.25rem 0 0; */
  }
}
